@font-face {
    font-family: 'djb_chalk_it_upregular';
    src: url('djb/djb_chalk_it_up-webfont.eot');
    src: url('djb/djb_chalk_it_up-webfont.eot?#iefix') format('embedded-opentype'), url('djb/djb_chalk_it_up-webfont.woff2') format('woff2'), url('djb/djb_chalk_it_up-webfont.woff') format('woff'), url('djb/djb_chalk_it_up-webfont.ttf') format('truetype'), url('djb/djb_chalk_it_up-webfont.svg#djb_chalk_it_upregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('../img/type.png') repeat scroll;
    color: #CCC !important;
    height: 100%;
    font-family: 'Catamaran', sans-serif !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'djb_chalk_it_upregular', sans-serif !important;
    margin-bottom: 20px !important;
}

h2 {
    font-size: 50px !important;
}

h3 {
    font-size: 32px !important;
}

h4 {
    font-size: 22px !important;
}

p {
    font-size: 18px !important;
}

ul li {
    font-size: 18px;
}

.navbar-brand h1 {
    margin-top: -10px;
    color: #333;
}

nav {
    border-radius: 0px !important;
}

.jumbotron .btn {
    margin-right: 20px !important;
}

.wrapper {
    padding-bottom: 60px !important;
}

.flex {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex img {
    margin-bottom: 15px;
}

ul[role="tablist"] {
    margin-bottom: 25px;
}

footer {
    background: #CCCCCC !important;
    border-top: 1px solid #EEEEEE !important;
    color: black;
}

footer .container {
    margin-top: 12px;
}

footer .navbar-right img {
    margin: -4px 5px 0 5px;
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
        position: relative !important;
        margin-top: 10px;
        padding-bottom: 15px;
    }
    .flex-row {
        flex-direction: column;
    }
    .flex-row-reverse {
        flex-direction: column-reverse;
    }
    footer .flex-row {
        flex-direction: row;
    }
    .wrapper {
        padding-bottom: 0px !important;
    }
}