                @keyframes chronology {
                    0% {
                        height: 0px;
                    }
                    100% {
                        height: 1180px;
                    }
                }
                
                .ligne-temps {
                    width: 6px;
                    height: 1180px;
                    background: #337ab7;
                    position: absolute;
                    left: 49.2%;
                    top: -35px;
                    border-radius: 3px;
                    z-index: -1;
                    animation: chronology 1.5s;
                    display: none;
                    /*A finir si il me reste du temps*/
                }
                
                .filiere {
                    background: rgba(255, 255, 255, 0.1);
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 50px;
                }
                
                .filiere div.row {
                    padding: 25px 0;
                }
                
                @keyframes bubble-size {
                    0% {
                        transform: scale(0);
                    }
                    80% {
                        transform: scale(1.1);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                
                div.date {
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    background: #337ab7;
                    animation: bubble-size 0.55s;
                }
                
                .logo-hoche {
                    margin-top: 140px;
                }
                
                .logo-descartes {
                    background: white;
                    padding: 5px;
                }
                
                .logo-ingesup {
                    padding: 5px;
                    background: white;
                }
                
                .logo-grdopt {
                    background: white;
                    padding: 5px;
                    margin-top: 90px;
                }
                
                .aikido {
                    margin-top: 140px;
                }
                
                @keyframes completion-ang {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 50%;
                    }
                }
                
                #angular {
                    width: 50%;
                    animation: completion-ang 1s ease, progress-bar-stripes 2s linear infinite;
                    ;
                }
                
                @keyframes completion-c {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 58%;
                    }
                }
                
                #c {
                    width: 58%;
                    animation: completion-c 1s ease, progress-bar-stripes 2s linear infinite;
                    ;
                }
                
                @keyframes completion-js {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 42%;
                    }
                }
                
                #js {
                    width: 42%;
                    animation: completion-js 1s ease, progress-bar-stripes 2s linear infinite;
                    ;
                }
                
                @keyframes completion-ref {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 32%;
                    }
                }
                
                #ref {
                    width: 32%;
                    animation: completion-ref 1s ease, progress-bar-stripes 2s linear infinite;
                    ;
                }
                
                @keyframes completion-phpobj {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 12%;
                    }
                }
                
                #phpobj {
                    width: 12%;
                    animation: completion-phpobj 1s ease, progress-bar-stripes 2s linear infinite;
                    ;
                }
                
                @keyframes completion-bootstrap {
                    0% {
                        width: 0%;
                    }
                    100% {
                        width: 8%;
                    }
                }
                
                #phpobj {
                    width: 8%;
                    animation: completion-bootstrap 1s ease, progress-bar-stripes 2s linear infinite;
                    ;
                }
                
                @media screen and (max-width: 767px) {
                    .ligne-temps {
                        top: -185px;
                        height: 1230px;
                        width: 3px;
                    }
                    div.date {
                        width: 80px;
                        height: 80px;
                    }
                    div.date h4 {
                        font-size: 14px;
                    }
                    .logo-hoche,
                    .logo-descartes,
                    .logo-ingesup,
                    .logo-grdopt,
                    .cible,
                    .gym,
                    .mtb,
                    .aikido,
                    .natation,
                    .printer,
                    .vis,
                    .key {
                        margin-top: 10px;
                    }
                    html,
                    body {
                        overflow-x: hidden;
                    }
                    .tab-pane .flex-row {
                        flex-direction: row !important;
                    }
                }
                
                @media screen and (min-width: 768px) and (max-width: 991px) {
                    .logo-ingesup {
                        margin-top: 75px;
                    }
                    .logo-descartes {
                        margin-top: 330px;
                    }
                    .logo-aps {
                        margin-top: 480px;
                    }
                    .cible {
                        margin-top: 46px;
                    }
                    .gym,
                    .mtb {
                        margin-top: 55px;
                    }
                    .natation {
                        margin-top: 45px;
                    }
                    .printer {
                        margin-top: -350px;
                    }
                    .camera {
                        margin-top: 70px
                    }
                    .vis {
                        margin-top: -50px;
                    }
                    .key {
                        margin-top: -270px;
                    }
                    .google {
                        margin-top: 55px
                    }
                }
                
                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    .logo-descartes {
                        margin-top: 300px;
                    }
                    .logo-ingesup {
                        margin-top: 80px;
                    }
                    .logo-aps {
                        margin-top: 390px;
                    }
                    .cible,
                    .mtb,
                    .natation,
                    .camera {
                        margin-top: 55px;
                    }
                    .gym {
                        margin-top: 56px;
                    }
                    .printer {
                        margin-top: -200px;
                    }
                    .vis {
                        margin-top: -45px;
                    }
                    .key {
                        margin-top: -250px;
                    }
                    .google {
                        margin-top: 55px
                    }
                }
                
                @media screen and (min-width: 1200px) {
                    .logo-descartes {
                        margin-top: 280px;
                    }
                    .logo-ingesup {
                        margin-top: 70px;
                    }
                    .logo-aps {
                        margin-top: 340px
                    }
                    .cible,
                    .gym,
                    .mtb,
                    .natation,
                    .camera {
                        margin-top: 45px;
                    }
                    .printer {
                        margin-top: -210px;
                    }
                    .vis {
                        margin-top: -55px;
                    }
                    .key {
                        margin-top: -240px;
                    }
                    .google {
                        margin-top: 55px
                    }
                }