.jumbotron {
    background: #171717 !important;
}

.jumbotron p {
    font-size: 22px !important;
}

.competences p {
    font-size: 22px !important;
}

hr {
    width: 74%;
}

.container hr {
    width: 35%;
    border-top: 1px solid #888;
}

#img-header {
    margin-top: -20px;
    background: url('../img/presentation/biocode.jpg') no-repeat scroll center;
    background-size: cover;
    height: 50vh;
}

#img-profile {
    width: 204px;
    border: 2px solid #22223e;
}

.pgrbar {
    padding: 5px;
    width: 131px;
    height: 131px;
    position: relative;
}

@keyframes opa-progress {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pgrbar svg,
.pgrbar p {
    animation: opa-progress ease 1s;
}

@media screen and (max-width: 767px) {
    #img-profile {
        width: 120px;
        border-width: 0.5px;
    }
    hr {
        width: 92%;
    }
    .container hr {
        width: 65%;
    }
    .pgrbar {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #img-profile {
        width: 150px;
        border-width: 0.5px;
    }
    .container hr {
        width: 70%;
    }
    .pgrbar {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #img-profile {
        width: 170px;
        border-width: 1px;
    }
    .pgrbar {
        width: 131px;
        height: 131px;
    }
}